/*
* +Hero image
*/
.hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 80px;
    background-size: cover;

    @media (min-width: $screen-sm-min) {
        height: 560px;
    }

    &__title {
        max-width: 1060px;
        padding: 15px 20px;
        background-color: hsla(0, 0%, 100%, .8);
        color: $brand-primary;

        text-align: center;
        text-transform: uppercase;

        font-size: 17px;

        @media (min-width: $screen-sm-min) {
            font-size: 41px;
            padding: 30px 45px;
        }
    }
}
