/** studio60 - https://raw.githubusercontent.com/theStudio60/webdev-tools/master/wordpress/gulp/assets/sass/_variables.scss
*
*   Define bootstrap variables here
*
*   Get the list of variables here :
*   http://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
*/
$link-hover-decoration: none;
/**
*   Define custom variables here
*/
// defining the primary color
// use $primary in your .scss files instead of the bootstrap $brand-primary
$primary: #4682b4;
$brand-primary: $primary;
