.video {
    max-width: 785px;
    margin: auto;

    &__poster {
        position: relative;
        z-index: 9;
        background-position: center;
        background-size: cover;
        transition: transform .4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        // overlay
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
        }

        // play triangle
        &:after {
            content: '';
            position: relative;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 26px 0 26px 38px;
            border-color: transparent transparent transparent #fff;
            z-index: 10;

            @media (min-width: $screen-sm-min) {
                border-width: 52px 0 52px 77px;
            }
        }

        &--playing {
            transform: translate3d(0, -100%, 0);
        }
    }
}
